<h1>Enter three numbers!</h1>
<form action="/triangle">
  <input type="number" id='s1' name='s1'>
  <input type="number" id='s2' name='s2'>
  <input type="number" id='s3' name='s3'>
  <button type="submit" name="button">Submit</button>
</form>
